* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/*-----------------Header-----------------*/
#bar {
  background-color: #89a9f6;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}

.left-sections {
  margin-left: 160px;
  display: flex;
  align-items: center;
}

#Logo {
  height: 60px;
  margin-right: 40px;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a,
.auth a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.auth {
  margin-right: 160px;
  display: flex;
  align-items: center;
  gap: 25px;
}

#reg-button {
  background-color: #27447e;
  padding: 12px 28px;
  border-radius: 25px;
}